.Toolbar {
    background-color: white;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    margin-right: 10px;
    width: 50px;
}

.loginbtn {
    background-color: #226957;
}

.registbtn {
    background-color: #EA9E1F;
}